<!-- CSS document -->
.first_column{	
        	display:table-cell;
        	padding-left: 10px;
        	padding-right: 10px;
}
.second_column{	
        	display:table-cell;
        	padding-left: 10px;
        	padding-right: 10px;
}
.third_column{	
      		display:table-cell;
      		padding-left: 10px;
        	padding-right: 10px;
}
.fourth_column{	
        	display:table-cell;
        	padding-left: 10px;
        	padding-right: 10px;
}