<!-- CSS document -->
body{}

#bsi_controls{
	margin-top:50px;
}

div[id*='line'] {
	height:40px;
	border:1px solid black;
}

#bsi_controls_table_heading{
	color: green;
}

.odd{
	background-color:#ffe;
}
.odd{
	background-color:#ffe;
}
.hover{
	background-color:#fee;
}

.first_column{	
	display:table-cell;
	padding-left: 10px;
	padding-right: 10px;
}
.second_column{	
	display:table-cell;
	padding-left: 10px;
	padding-right: 10px;
}
.third_column{	
	display:table-cell;
	padding-left: 10px;
	padding-right: 10px;
}
.fourth_column{	
	display:table-cell;
	padding-left: 10px;
	padding-right: 10px;
}




#panel_right-popup {
    right: 0 !important;
    left: auto !important;
}
#panel_right {
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}
#panel_right .ui-btn {
    margin: 2em 15px;
}